

.footer-div {
    display: flex;
    padding: 2% 5% 0% 5%;
    gap: 8%;
    color: white;
    background-color: rgb(25, 49, 82);
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
}

.footer-service-a {
    color: white;
    margin-bottom: 6%;
    font-size: 0.8rem;
    text-decoration: none;
}

.footer-service-a:hover,
.service-head:hover {
    color: grey;
}
.footer-lower{
    /* style="display: flex;padding: 3%;gap: 5%;" */
    display: flex;
    padding: 3%;
    gap: 5%;
}
@media screen and (max-width: 768px) {
    .footer-div{
        display: block;
    }
    .footer-lower{
        display: block;
    }
}